@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #111620;
    /* background-image: url('./imgs/background.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Digitar CNPJ */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header h1 {
    color: #e2e2e2;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    padding-top: 100px;
}

header p {
    color: #ebebeb;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

header input[type='text'] {
    color: #ffffff;
    margin: 25px;
    background-color: transparent;
    border: 1px;
    border-style: solid;
    border-radius: 100px;
    border-color: #FFFFFF;
    padding: 10px;
    width: 50vw;
    text-align: center;
}

header input[type='text']::placeholder {
    color: #bdbdbd;
}

header button {
    color: #BABABA;
    background-color: #1F1F1F;
    padding: 10px 20px;
    border-style: none;
    border-radius: 10px;
}

header button:hover{
    border-style: solid;
    border-color: #FFFFFF;
    cursor: pointer;
}

/* Resultado */
#result {
    background-color: #313131;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 15px 50px;
    padding: 50px;
    border-radius: 20px;
}


#result p{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
}

#result span {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(100, 145, 255);
}

/* Copiar Button */

#copiar {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    width: 100px;
    background-color: rgb(100, 145, 255);
    margin-top: 10px;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
}

#copiar:hover {
    background-color: rgb(47, 80, 161);
    cursor: pointer;
}

/* Relatório De Erro */

#error{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: red;
}

/* Carregamento */

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading h2{
    color: #BABABA;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    padding-top: 20px;
}

#infobox{
    position: fixed;
    right: -600px;
    background-color: #444547;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#infobox.show {
    animation: aparecer 1s ease forwards;
}

#infobox.close {
    animation: sumir 1s ease forwards;
}

#infobox h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
}

#infobox p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
}

@keyframes aparecer {
    0%{
        right: -600px;
    }

    50% {
        right: 80px;
    }

    100%{
        right: 50px;
    }
}

@keyframes sumir {
    0%{
        right: 50px;
    }

    50% {
        right: 80px;
    }

    100%{
        right: -600px;
    }
}
/* Verificar CNPJ */

/*font-family: 'Poppins';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 72px;
display: flex;
align-items: center;
text-align: center;

color: #BABABA;*/
