* { 
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* body{
    background-image: url('https://preview.redd.it/d83xauurn7c21.jpg?auto=webp&s=428bb9f8f81233a49a21a56444e939ad61c3681c');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */
